
.TimerArea{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.Timer{
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.TimeBlock{
  background-color: #000000;
  border: none;
  border-radius: 24px;
  width: 126px;
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 200px;
  font-family: "JL";
  padding: 24px;
  color: #FFFFFF;
}

.DescriptionText{
  font-size: 80px;
  font-family: "JL";
  padding: 24px;
  color: #FFFFFF;
}